---
title: "Drew Johnston"
layout: splash
header:
  overlay_color: "#000"
  overlay_filter: "0.2"
  overlay_image: /assets/images/greenforest.jpg
  actions:
    - label: "Download Resume"
      url: "https://drewjohnston13.github.io/Resume.pdf"
  caption: "Photo credit: [**Unsplash**](https://unsplash.com)"
excerpt: "Data Scientist  &#124;  Mathematician"
intro: 
  - excerpt: 'Seriously. Hire me. I know stuff.'
feature_row1:
  - image_path: assets/images/greenforest.jpg
    title: "Data Science Computing Specialist (2020)"
    excerpt: 'My work with BYU Enrollment Services.'
feature_row2:
  - image_path: assets/images/redforest.jpg
    alt: "UNCW REU"
    title: "UNCW Research Experience for Undergraduates (2019)"
    excerpt: 'Statistical Learning research. Lots of feature engineering, writing, and presentation.'
    url: "https://uncw.edu/math/reu/results.html"
    btn_label: "Read More"
    btn_class: "btn--primary"
feature_row3:
  - image_path: assets/images/fogforest.jpg
    title: "NCH Capital Machine Learning Research Internship (2018-2019)"
    excerpt: 'I did **Machine Learning** research! For a _Hedge Fund_.'
    url: "https://nchcapital.com/"
    btn_label: "NCH Capital"
    btn_class: "btn--primary"
feature_row4:
  - image_path: assets/images/redforest.jpg
    title: "Math TA (2017-2019)"
    excerpt: 'I assisted in writing and developing learning material for a variety of early mathematics courses. I also regularly taught small groups of students and tutored individuals in these courses.'
feature_row5:
  - image_path: assets/images/fogforest.jpg
    title: "Individual Projects (2018-2020)"
    excerpt: "From deep learning to natural language processing to optimal control theory, I've complete various projects over the years that showcase my abilities. Read more on my projects page!"
    url: "projects"
    btn_label: "Projects"
    btn_class: "btn--primary"
---

{% include feature_row id="intro" type="center" %}

{% include feature_row id="feature_row1" type='left' %}

{% include feature_row id="feature_row2" type="right" %}

{% include feature_row id="feature_row5" type="left" %}

{% include feature_row id="feature_row3" type="right" %}

{% include feature_row id="feature_row4" type="left" %}
