---
title: "Drew Johnston"
layout: splash
header:
  overlay_color: "#000"
  overlay_filter: "0.2"
  overlay_image: /assets/images/redforest.jpg
  actions:
    - label: "Download Resume"
      url: "https://drewjohnston13.github.io/Resume.pdf"
  caption: "Photo credit: [**Unsplash**](https://unsplash.com)"
excerpt: "I'm a math guy. Please hire me."
intro: 
  - excerpt: 'Seriously. Hire me. I know stuff.'
feature_row:
  - image_path: video_1.gif
    alt: "placeholder image 1"
    title: "Projects"
    excerpt: "Check out how cool I am."
  - image_path: assets/images/Screen Shot 2020-05-25 at 2.44.14 PM.png
    alt: "placeholder image 2"
    title: "Papers"
    excerpt: "I write good."
    url: "#test-link"
    btn_label: "Read More"
    btn_class: "btn--primary"
  - image_path: assets/images/IMG_1424.JPG
    title: "About me."
    excerpt: "I like cheese."
feature_row2:
  - image_path: assets/images/greenforest.jpg
    alt: "Data Science Intern"
    title: "Data Science Computing Specialist"
    excerpt: 'My work with BYU Enrollment Services.'
    url: "#test-link"
    btn_label: "Read More"
    btn_class: "btn--primary"
feature_row3:
  - image_path: assets/images/redforest.jpg
    alt: "UNCW REU"
    title: "UNCW REU Stuff"
    excerpt: 'Statistical Learning research. Lots of feature engineering, writing, and presentation.'
    url: "#test-link"
    btn_label: "Read More"
    btn_class: "btn--primary"
feature_row4:
  - image_path: assets/images/fogforest.jpg
    alt: "Machine Learning Research"
    title: "Math Research/NCH Capital Internship"
    excerpt: 'I did **Machine Learning** research! For a _Hedge Fund_.'
    url: "#test-link"
    btn_label: "Read More"
    btn_class: "btn--primary"
---

{% include feature_row id="intro" type="center" %}

{% include feature_row %}

{% include feature_row id="feature_row2" type="left" %}

{% include feature_row id="feature_row3" type="right" %}

{% include feature_row id="feature_row4" type="center" %}
